.all{
	width: 80%;
	height: auto;
	
	border-radius: 10px;
	margin-left:10%;
	margin-right:10%;
}
.top{
	margin-top: 10px;
	width: 100%;
	height: 30px;
	
	border-radius: 10px;
}
.slider{
	margin-top:10px;
	width: 100%;
	height: 300px;
	
	border-radius: 10px;

}
.navibar{
	width:100%;
	height: 30px;
	
	border-radius: 10px;
	float: left;
}
.menubar{
	float: left;
	width: 120px;
	height: 100%;
	/*background: #26BBCA;*/
	border-radius: 10px;
}
.menubar :Hover{

float: left;
	width: 120px;
	height: 100%;
	/*background: #fff;*/
	border-radius: 10px;
}
.content{
margin-top: 2%;
width: 100%;


height: 800px;
margin-left: 0px;


}
.image{
	width: 30%;
height: 350px;
float: right;

border-radius: 10px;
margin-right: 10px;
padding-right: 10px;	
margin-top: 10px;
}
.foot{
width: 100%;
height: 60px;
background: #26BBCA;
border-radius: 10px;
color: black;
	
}


